{% extends "common.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet/less" type="text/css" href="css/main.less"/>
{% endblock style %}

{% block js %}
    <script type="module" src="js/main.js"></script>
{% endblock js %}


{% block body %}
    {{ parent() }}
    
    <div id="login" class="top-container cm-noselect" style="width:{{ container.x }}rem;height:{{ container.y }}rem">
        <span>ВХОД</span>
        <input id="pass" type="password" class="cm-noselect" data-pass="{{ pass }}"/>
        {# <button> ? </button> #}
    </div>
    
    <div id="menu1" class="top-container cm-noselect" style="width:{{ container.x }}rem;height:{{ container.y }}rem">
        <div class="head">
            {# <span>Меню</span> #}
            <i class="back-button fas fa-arrow-left"></i>
        </div>
        <div class="box">
            <div class="data">
                <div>
                    <div class="cm-item" data-tag="email">Электронная связь</div>
                    <div class="cm-item" data-tag="system">Системы корабля</div>
                    <div class="cm-item" data-tag="journal">Корабельный журнал</div>
                    <div class="cm-item" data-tag="docs">Документация корабля</div>
                </div>
            </div>
            <div class="direct">
                <i class="up-button far fa-caret-square-up"></i>
                <i class="down-button far fa-caret-square-down"></i>
            </div>
        </div>
    </div>
    
    <div id="email" class="top-container cm-noselect" style="width:{{ container.x }}rem;height:{{ container.y }}rem">
        <div class="head">
            <span>Электронная связь</span>
            <i class="back-button fas fa-arrow-left"></i>
        </div>
        <div class="box">
            <div class="data">
                <div>
                    {% for email in emails %}
                        <div class="cm-item flex">
                            <i class="ml-1 mr-3 mt-3 far fa-envelope"></i>
                            <span>{{ email[0]|raw }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="direct">
                <i class="up-button far fa-caret-square-up"></i>
                <i class="down-button far fa-caret-square-down"></i>
            </div>
        </div>
    </div>

    <div id="journal" class="top-container cm-noselect" style="width:{{ container.x }}rem;height:{{ container.y }}rem">
        <div class="head">
            <span>Корабельный журнал</span>
            <i class="back-button fas fa-arrow-left"></i>
        </div>
        <div class="box">
            <div class="data">
                <div>
                    {% for item in journal %}
                        <div class="cm-item flex">
                            <i class="ml-1 mr-3 mt-3 far fa-sticky-note"></i>
                            <span>{{ item[0]|raw }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="direct">
                <i class="up-button far fa-caret-square-up"></i>
                <i class="down-button far fa-caret-square-down"></i>
            </div>
        </div>
    </div>
    
    <div id="docs" class="top-container cm-noselect" style="width:{{ container.x }}rem;height:{{ container.y }}rem">
        <div class="head">
            <span>Документация корабля</span>
            <i class="back-button fas fa-arrow-left"></i>
        </div>
        <div class="box">
            <div class="data">
                <div>
                    <div class="cm-item" data-tag="a1">Действия при пожаре</div>
                    <div class="cm-item" data-tag="a2">Действия при поломке лабораторного стенда</div>
                    <div class="cm-item" data-tag="a3">Действия при отключении электроэнергии</div>
                    <div class="cm-item" data-tag="a4">Действия при аварийной эвакуации</div>
                </div>
            </div>
            <div class="direct">
                <i class="up-button far fa-caret-square-up"></i>
                <i class="down-button far fa-caret-square-down"></i>
            </div>
        </div>
    </div>

    <div id="system" class="top-container cm-noselect" style="width:{{ container.x }}rem;height:{{ container.y }}rem">
        <div class="head">
            <span>Системы корабля</span>
            <i class="back-button fas fa-arrow-left"></i>
        </div>
        <div class="box">
            <div class="data">
                <div>
                    <div class="cm-item" data-tag="engine">Система двигателя</div>
                    <div class="cm-item" data-tag="a2">Топливная система</div>
                    <div class="cm-item" data-tag="connect">Система межгалактической связи</div>
                    <div class="cm-item" data-tag="a4">Навигационная система</div>
                </div>
            </div>
            <div class="direct">
                <i class="up-button far fa-caret-square-up"></i>
                <i class="down-button far fa-caret-square-down"></i>
            </div>
        </div>
    </div>
    
    <div id="connect" class="top-container cm-noselect" style="width:{{ container.x }}rem;height:{{ container.y }}rem">
        <div class="head">
            <span>Система межгалактической связи</span>
            <i class="back-button fas fa-arrow-left"></i>
        </div>
        <div class="">
            <video class="" width="90%" height="90%" preload="auto" autoplay="autoplay" loop="loop" muted="muted">
                <source src="pic/connect.mp4" type="video/mp4"></source>
            </video>
        </div>
    </div>
    
    <div id="engine" class="top-container cm-noselect" style="width:{{ container.x }}rem;height:{{ container.y }}rem">
        <div class="head">
            <span>Система двигателя</span>
            <i class="back-button fas fa-arrow-left"></i>
        </div>
        <div class="">
            <video class="" width="90%" height="90%" preload="auto" autoplay="autoplay" loop="loop" muted="muted">
                <source src="pic/engine.mp4" type="video/mp4"></source>
            </video>
        </div>
    </div>
{% endblock %}
